html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    color: #343434;
    margin: 0;
    padding: 0;
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    border: none;
    /* background-image: url(Images/bg2.jpg); */
    background-repeat: no-repeat;
   background-size: cover;
  }

  #home{
      height: 660px;
      background-image: url(img/head.jpg);
      background-size: cover;
  }

  h1 {
      padding-top: 200px;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    font-weight: bolder;
    color: white;
  }
  
  h2 {
    font-size: 45px;
    position: relative;
    font-family: calibri;
    letter-spacing: 2px;
    color: white/*#f2f2f2*/;
    text-align: center;

  }


  .content-wrap {
      
    /* max-width: 800px; */
    /* width: 85%; */
    margin: 0 auto;
    padding: 60px 0;
  }
  
  .card{
      padding: 10px ;
      
  }
 
  .card:hover
  {
      background-color: #e7f9ff;
    transition: transform 0.2s ease;
  }

  .button {
    background-color: #1c2c1d;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
  .prgrms{
    padding: 20px;
    background: hsla(239, 100%, 67%, 1);

    background: linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1 );
  }

  .test{
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background: hsla(141, 81%, 87%, 1);

    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F7D486", GradientType=1 );
  }
  html{
    background-color: black;
  }
  body .for{
    background-color: black;
     }
  .formbody
  {
      margin: 10px;
      padding:10px;
      border-radius: 20px;
      background: hsla(40, 94%, 74%, 1);

background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
      
  }
  
  @media only screen and (max-width: 650) {
    h1 {
      padding-top: 200px;
    font-size: 12px;
  }
  
  h2 {
    font-size: 1px;
  
  }

  }

  @media only screen and (max-width: 900px) {
   .content-wrap h1 {
      padding-top: 200px;
     font-size: 23px;
     background-size: cover;
  }
  
  .content-wrap h2 {
    font-size: 18px;
  
  }
  
  .prgrms h1{
    font-size: 30px;
  }

  .test h1{
    font-size: 30px;
  }

  .button{
    font-size: 14px;
  }

  }